.paysagesdivs1:hover .bubblediv {
  display: block;
}
.paysagesdivs1:hover .guillaumeubuntupense {
  display: block;
}

.paysagesdivs2:hover .guillaumeubuntu {
    transform: translate(-150%, 50%);
}
