.personnages{
position: absolute;

}
.okbaimage1div .windows {
    top: 60%;
    right: 50%;
    max-width: 40%;
    max-height: 20%;
    z-index: 1;
}

.okbaimage1div .Guillaumeubuntucasque {
    top: 14%;
    left: 45%;
    max-width: 10%;
    max-height: 10%;
}

.okbaimage2div .windows {
    top: 89%;
    left: 20%;
    max-width: 5%;
    max-height: 5%;
}

.okbaimage2div .Guillaumeubuntucasque {
    top: 72%;
    left: 40%;
    max-width: 10%;
    max-height: 10%;
}

.okbaimage1div .bulletexte {
    border: 1px solid black;
    width: 17%;
    top: 27%;
    left: 18%;
    background-color: rgba(255, 255, 255, 0.8);
}

.okbaimage1div .ordinateur {
    transform: scaleX(-1);
    max-width: 10%;
    max-height: 10%;
    top: 15px;
    left: 18%;
    max-width: 5%;
    max-height: 5%;
}

.okbaimage2div .bulletexte {
    position: absolute;
    border: 1px solid black;
    border-radius: 30%;
    width: 15%;
    top: 80%;
    left: 18%;
    background-color: rgba(255, 255, 255, 0.8);
}

.okbaimage2div .ordinateur {
    transform: scaleX(-1);
    max-width: 10%;
    max-height: 10%;
    top: 89%;
    left: 18%;
    max-width: 5%;
    max-height: 5%;
}

.portraits .Guillaumeubuntucasque {
    top: 50%;
    left: 80%;
    max-width: 35%;
    max-height: 30%;
}

.Guillaumeubuntucasque {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
