
#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu li{
display:inline-block;
position:relative;
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu li{
background-color: #2c3e50;
}
/* background des liens sous menus */
#menu li li{
background:#2A2333;
}
/* background des liens menus et sous menus au survol */
#menu li:hover, #menu li li:hover{
background:#ccc;
color: #2c3e50;
}
/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
color:#000;
}
/*f: */
#menu>li {
  width: calc(98%/3);
  margin:0;
  padding: 0;
}
menu>li:hover {
}
/*footer*/
footer, footer ul {
  list-style: none;
  color: #2c3e50;
}
footer ul, footer li {
  box-sizing: border-box;
  margin-left:;
  padding:0;
}
footer {
  background-color: #ccc;
  margin: 0;
}
h3 {
  text-align: center;
  background-color: #2c3e50;
  color: #ccc;
  margin: 0;
}
.footcontain {
  display: flex;
  justify-content: space-around;
}
body{
margin: 0;
background-color: rgba(255, 0, 0, 0.5);
}
/*okbastory*/
#okba{
  display: flex;
  flex-direction: column;
background-color: purple;
height: 100vh;
    block-size: 100%;
}
.lesconteneursdimages{
background-color: blue;
display: flex;
height: 100vh;
max-height: 100vh;
margin: 1%;
  block-size: 100%;
  max-width: 100%;
  max-height: 100%;
}
.paysages{
  display: flex;
  flex-direction: column;
  width: calc(100%*2/3);
        block-size: 100%;
}
.okbaimage1{

}
.okbaimage2{
}
.okbaimage3{
  image-orientation: 90deg;
}
.okbaimage1div{

}
.okbaimage2div{
}
.okbaimage3div{
}
.paysagesdivs{
        max-height: 50vh;
}
.images{
  display: flex;
  overflow:hidden;
  background-color: green;
  margin: 1%;
  block-size: 100%;

}
.imagepaysage{
}
.imageportrait{

}
.imagehistoire{
    flex: 1;
  overflow:hidden;
  margin: 1%;
  max-width: 100%;
  max-height: 100%;
}
.portraits{
width: calc(100%/3);
      max-height: 100vh;
}
/*REGLE POUR MOBILE EN PROTRAIT OU TOUT SIMPLEMENT AFFICHAGE PORTRAIT*/
@media  (orientation:portrait)
{
  .okbaimageconteneur1{

flex-direction: column;
  }
  .paysages{
      max-width: 100%;
          width: 100%;
  }
  .okbaimage3{
    image-orientation: 90deg;
  }
  .portraits{
    width: 100%;
      max-width: 100%;
      max-height: 100vh;

  }
}
